.form-heading {
  font-size: 20px;
  font-weight: 600;
}

label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
section {
  border: 1px solid grey;
  height: 50%;
  width: 54%;
  background-color: #f2f2f2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10%;
  margin-left: 25%;
}

.form-div {
  margin: 1em 1em 1em 1em;
}
.user-details td {
  padding-right: 193px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.user-details input {
  width: 200%;
  height: 25px;
  box-shadow: black;
}

.card-details td {
  padding-left: 10px;
}
.card-details input {
  width: 90%;
  height: 25px;
}

.checkout-btn {
  margin: 1em 0em 0.4em 0em;
  height: 2rem;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #282828;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.checkout-btn:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.2s 0.1s;
  color: black;
}

input[type="checkbox"] {
  height: 10%;
  width: 10%;
  margin: 10px -15px 10px -15px;
  color: transparent;
}
